/* .form {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  width: 500px;
} */

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 320px;
}
